:root {
  --p-blue: #044182;
  --s-blue: #0874e8;
  --s-black: hsl(0, 0%, 14%);
}
* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body {
  scroll-snap-type: y mandatory;
  background-color: hsl(0, 0%, 94%);
}
/* Section id index */
section#index {display:none !important;border:2px solid red;}


















/* header */
  section#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    transition: 0.5s ease-in-out;
  }
  #header img {
    max-width: 20%;
  }
  #header ul {
    margin-left: auto;
    margin-right: 2em;
    display:flex;
    flex-direction: row;
    gap:1.5em;
  }
  #header ul li {
    color: var(--s-black);
    list-style:none;
  }
  #header ul li a {
    text-decoration:none;
    color: var(--s-black);
    font-size: 120%;
  }
  #header .search_user {
    display: flex;
    gap:2em;
  }
/* End Header and getIn Home page elements */
























/* Intern section Start */
  section#intern {
    background-color: var(--p-blue);
    padding: 1.5em 2em;
  }
  #intern span a {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
  }
  #intern span a:hover {
    color:#fff;
    text-decoration: underline;
  }
  #intern strong {
    float:right;
    cursor:pointer;
  }
/* End of Intern */



















/* MAIN */
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
  }
/* main */ 


















/* About section Start */
  section#about {
    display: flex;
    flex-direction: column;
    gap:1em;
    position:relative;
  }
  #about .aboutTexts {
    width:60%;
    padding:2em;
    color:#fff;
  }
  #about .aboutTexts p {
    font-size:2.5em;
    margin-bottom: 1em;
  }
  #about .aboutTexts span:nth-child(2) {
    display: block;
    line-height: 1.6;
    letter-spacing: 0.1em;
    font-size: 1.1em;
  }
  #about button {
    max-width:max-content;
    padding:1em;
    background-color: var(--s-blue);
    color:#fff;
    border:none;
    margin-top: 1em;
    line-height: 1;
    font-size: 1em;
  }
  #about button i:nth-child(2) {
    margin:auto 0 0 4em;
  }
  #about button i:nth-child(3) {
    display:none;
  }
  #about img {
    filter:brightness(70%);
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    min-height: 100%;
  }
  #about #aRight,#aLeft {display:none;}
/* End of About */



















/* Start of four */
  section#four {
    padding:2em;
    display:flex;
    flex-wrap: wrap;
    gap:0.25em;
  }
  #four .fourCards {
    flex-basis: calc(50% - 0.25em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1em;
    background-color: hsl(0, 0%, 87%);
  }
  #four .fourCards:hover {
    background-color: hsl(0, 0%, 90%);
  }
  #four .fourCards:active {
    outline:3px solid var(--s-blue);
  }
  #four .fourCards bdo {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 120%;
    font-weight: 600;
  }
  #four .fourCards p {
    margin-bottom: 2em;
    font-size: 120%;
  }
  #four .fourCards i {
    color: var(--s-blue);
    font-size: 1.2em;
  }
/* End of fourCards */












/* Action Section */
  section#action {
    padding:0.8em 2em;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 94%);
    box-shadow: 0px 3px 10px rgb(72, 71, 71);
    border: 0px solid gray;
  }
/* End of Action Section */















/* More ways */
  section#moreWays {
    padding:3em 2em 1em 2em;
  }
  #moreWays h3 {
    margin-bottom: 2em;
    font-weight: 100;
    font-size: 2em;
  }
/* End More ways */













/* exporeTech techCards */
section#exploreTech {
  padding:3em 2em 1em 2em;
  display: flex;
  flex-direction: column;
  gap:2em;
}
section#exploreTech #techCards {
  display:flex;
  flex-wrap: wrap;
  gap:0.25em;
}
#exploreTech h2 {
  margin-bottom: 1em;
  font-weight: 100;
  font-size: 3em;
}
#exploreTech .tCards {
  width: calc(50% - 0.25em);
  background-color: hsl(0, 0%, 90%);
  font-size: 1.1em;
  height: 100%;
}
#exploreTech .tCards .tContent {
  background-color: hsl(0, 0%, 90%);
  width: calc(200% + 0.25em);
  display:none;
  padding:1em;
  margin-top: 0.25em;
}
#exploreTech .tCards:nth-child(even) .tContent {
  margin-left: calc(-100% - 0.25em);
}
#exploreTech .tCards:hover .tContent {
  background-color: hsl(0, 0%, 87.5%);
}
#exploreTech .tCards:hover {
  background-color: hsl(0, 0%, 87.5%);
}
#exploreTech .tCards .tHead {
  flex-basis: 50%;
  padding:1em;
}
#exploreTech .tCards .tHead .tIcons {
  border:none;
}
#exploreTech .tCards .tHead .tIcons i {
  font-size:140%;
  margin-bottom: 3em;
}
#exploreTech .tCards .tHead .tTexts {
  display:inline-flex;
  width:100%;
  margin-top: 1em;
}
#exploreTech .tCards .tHead .tTexts i:nth-child(2),i:nth-child(3) {
  margin-left: auto;
  font-size:140%;
}
#exploreTech .tCards .tHead .tTexts i:nth-child(3) {
  display:none;
}

/* focus within */
.tCards:focus-within {
  height: auto;
}
.tCards:not(:focus-within) .tContent {
  display: none !important;
}
.tCards:focus-within .tContent {
  display: flex !important;
  flex-wrap: wrap;
  gap:0.25em;
}
.tCards:focus-within .tHead .tIcons i {
  transform: scale(1.5) !important;
}
#exploreTech .tCards:focus-within .tHead .tTexts i:nth-child(3) {
  display:inline-block !important;
}
#exploreTech .tCards:focus-within .tHead .tTexts i:nth-child(2) {
  display:none !important;
}
.tCards:focus-within .tHead .tTexts span {
  display: none !important;
}

#exploreTech .tCards .tContent .tcHead {
  padding-bottom:2em;
  font-size: 120%;
  font-weight: 100 !important;
  width:100% !important;
}
#exploreTech .tCards .tContent .tcLinks {
  margin-bottom: 1em;
  font-size: 90%;
  width: calc(50% - 0.25em);
  display:flex;
  flex-direction:column;
  gap:0.5em;
}
#exploreTech .tCards .tContent .tcLinks a {
  color:#0077B5;
}
/* End More ways */


@media (min-width: 1200px) {
  #exploreTech #techCards .tCards {
    width: calc(33.33% - 0.25em);
  }
  #exploreTech .tCards .tContent {
    width: calc(300% + 0.25em);
  }
  #exploreTech .tCards .tContent::before {
    width: calc(66.66% + 0.15em);
  }
  #exploreTech .tCards:nth-child(3n) .tContent {
    margin-left: calc(-200% - 0.25em) !important;
  }
  #exploreTech .tCards:nth-child(3n+1):not(:first-child) .tContent {
    margin-left: calc(0% - 0em) !important;
  }
  #exploreTech .tCards:nth-child(3n+2) .tContent {
    margin-left: calc(-100% - 0.25em) !important;
  }
}





















/* All Rights Reserverd */
  footer {
    padding: 2rem 4rem 2rem 4rem;
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    border:3px dashed cornflowerblue;
  }
  footer #icons {
    display: flex;
    flex-direction: row;
  }
  footer #icons .circle {
    display: flex;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-right: 1rem;
    border-radius: 100%;
    transition: background-color 0.5s ease;
  }
  footer #icons .fac {
    background-color: #3B5998;
  }
  footer #icons .twi {
    background-color: #1DA1F2;
  }
  footer #icons .lin {
    background-color: #0077B5;
  }
  footer #icons .circle:hover {
    background-color: white;
  }
  footer #icons .circle:hover i {
    color: #FFF;
  }
  footer #icons .circle a {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
  }
  footer #icons .circle a:hover {
    text-decoration: none;
  }
/* End of all the default styles */































@media (max-width: 900px) {
  section#about {
    flex-direction: row;
  }
  section#four {
    padding:2em;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:0.1em 0.11em;
  }
}