:root {
  --p-blue: #044182;
  --s-blue: #0874e8;
  --s-black: hsl(0, 0%, 14%);
  --p-white: hsl(0, 0%, 94%);
  --s-white: hsl(0, 0%, 96%);
  --g-white: hsl(0, 0%, 76%);
}
* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body {
  scroll-snap-type: y mandatory;
  background-color: var(--p-white);
}
/* Section id index */
section#index {display:none !important;border:2px solid red;}


.bookmark {
}
/* header */
  header {
    min-height:min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 4vw;
    font-size: 1.5vw;
  }
  header.sticky {
    position: fixed;
    background-color: #fff;
    width:100%;
    z-index:999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  header:hover {
    box-shadow: 0 0 5px #000;
  }
  header:hover ul li {
    padding: 2vw 0vw;
  }
  header img {
    max-width: 5vw;
    aspect-ratio: 1/0.5;
  }
  header ul {
    margin:0 2vw 0 auto;
    display:flex;
    flex-direction: row;
    gap:3.5vw;
  }
  header ul li {
    color: var(--s-black);
    padding: 1.5vw 0vw;
    list-style:none;
    transition: all 0.5s ease;
  }
  header ul li:focus {
    border:2px solid var(--s-blue);
  }
  header ul li a {
    text-decoration:none;
    color: var(--s-black);
    padding: 1vw 0vw;
    font-weight: 600;
  }
  header ul li:hover a {
    color: var(--g-black);
  }
  header .search_user {
    display: flex;
    align-items: center;
    gap:3vw;
    color: var(--s-black);
  }
  .search_user input[type="checkbox"] {
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
  }
  .search_user input[type="checkbox"]:checked {border-color: #008000;}

/* End Header and getIn Home page elements */

.bookmark {
}
/* Intern section Start */
  section#intern {
    background-color: var(--p-blue);
    padding: 2.0vw 1.5vw;
    font-size: 1.2vw;
    display: block;
  }
  #intern span a {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
  }
  #intern span a:hover {
    color:#fff;
    text-decoration: underline;
  }
  #intern strong {
    float:right;
    cursor:pointer;
  }
/* End of Intern */ 

.bookmark {
}
/* About section Start */
  section#about {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap:1vw;
    overflow-x: hidden;
    border: 0px solid floralwhite;
  }
  #about .aboutTexts {
    width:70%;
    padding:4vw;
    color:var(--s-black);
    border: 0px solid firebrick;
    display:flex;
    gap:3vw;
    flex-direction: column;
    justify-content: center;
  }
  #about .aboutTexts p {
    font-size:4vw;
    margin: 0 auto 1vw 0;
  }
  #about .aboutTexts span:nth-child(2) {
    display: block;
    line-height: 1.6;
    letter-spacing: 0.1vw;
    font-size: 2.6vw;
  }
  #about button {
    max-width:max-content;
    padding:1vw;
    background-color: var(--s-blue);
    color:#fff;
    border:none;
    margin-top: 1vw;
    line-height: 1;
    font-size: 1.8vw;
    display: block;
  }
  #about button i:nth-child(2) {
    margin:auto 0 0 4vw;
  }
  #about button i:nth-child(3) {
    display:none;
  }
  #about img {
    display: none;
    filter:brightness(70%);
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height: 100vh;
  }
  #about #aRight,#aLeft {display:none;}
/* End of About */

.bookmark {
}
/* Start of four */
section#four {
    padding:3vw 2vw 1vw 3vw;
    border-bottom: 0.1vw solid var(--g-white);
  }
  #four #allNewCards {
    padding: 2vw 6vw;
    display:flex;
    flex-wrap: wrap;
    gap:0.25vw;
    font-size: 1.4vw;
  }
  #four h2 {
    margin-bottom: 1vw;
    font-weight: 100;
    font-size: 3vw;
  }
  #four .fourCards {
    flex-basis: calc(50% - 0.25vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1vw;
    background-color: hsl(0, 0%, 90%);
  }
  #four .fourCards:hover {
    background-color: hsl(0, 0%, 87%);
  }
  #four .fourCards:active {
    outline:3px solid var(--s-blue);
  }
  #four .fourCards bdo {
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-size: 120%;
    font-weight: 600;
  }
  #four .fourCards p {
    margin-bottom: 2vw;
    font-size: 120%;
  }
  #four .fourCards i {
    color: var(--s-blue);
  }
/* End of fourCards */

/* MAIN */
main {
  display: flex;
  border:2px solid blue;
}
/* main */
/* article */
article {
  border:2px solid green;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
/* article */

.bookmark {
}
/* Navigation panel on the side */
.nav-panel {
  z-index: 999;
  font-size: 1.4vw;
  min-width: 15vw;
  position:relative;
  min-height:100%;
}
.nav-panel ul {
  list-style: none;
  margin: 6vw 0 0 1vw;
  position:sticky;
  top:6vw;left:0;
}
.nav-panel a {
  display: block;
  color: var(--s-black);
  text-decoration: none;
  font-weight: bold;
  padding: 1.5vw 3vw 1.5vw 1vw;
  white-space: nowrap;
  border-left: 0.3vw solid gray;
}
.nav-panel a:hover {
  color: var(--p-black);
}
.nav-panel a.active {
  border-left: 0.3vw solid royalblue;
}
/* Navigation panel on the side */

.bookmark {
}
/* Flip recent laptops */
#recentWorks {
  padding:1vw 2vw 1vw 3vw;
  scroll-snap-align: center;
  font-size: 3vw;
  border:2px solid red;
}
#recentWorks #honey {
	display: flex;
  flex-wrap: wrap;
  gap:4vw;
	justify-content: space-between;
	padding: 3vw 4vw;
}
#recentWorks #honey .rw {
  position: relative;
  box-shadow: 0 0 0.5vw #000;
  border-radius: 1vw;
  overflow:hidden;
}
#recentWorks #honey .rw .imgL {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2vw 2vw;
	border-radius: 10px;
	position: relative;
  z-index: 1;
}
#recentWorks #honey .rw .tect {
	font-size:1.5vw;
	background: var(--s-white);
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
	opacity:0;
	transform: translateY(100%);
}
#recentWorks #honey .rw:hover .tect {
	opacity:1;
	display:flex;
	align-items: center;
	justify-content:center;
	text-align: center;
	padding: 1vw 1vw;
	transition: transform 0.5s ease;
	transform: translateY(0%);
	border-radius: 10px;
	border: 1px solid #fff;
	box-shadow: 0 0 15px #000;
}
#recentWorks #honey .rw img {
	width: 16vw;
	aspect-ratio: 1/1;
	flex-basis: 33.33%;
}
#recentWorks #honey .rw span:nth-child(2) {
	font-size: 2vw;
	margin: 0.1vw 0vw;
}
#recentWorks #honey .rw span:nth-child(3) {
	font-size: 1.2vw;
}
/* End of Flip recent laptops */

.bookmark {
}
/* exporeTech techCards */
section#exploreTech {
  padding:3vw 2vw 1vw 3vw;
  display: flex;
  flex-direction: column;
  gap:2vw;
  border: 2px dotted #0874e8;
  height:min-content;
}
#exploreTech h2 {
  margin-bottom: 1vw;
  font-weight: 100;
  font-size: 3vw;
}
section#exploreTech #techCards {
  display:flex;
  flex-wrap: wrap;
  gap:0.50vw;
  padding:0 0vw;
}
#exploreTech .tCards {
  width: calc(50% - 0.55vw);
  background-color: hsl(0, 0%, 90%);
  font-size: 1.3vw;
  outline:0px solid rebeccapurple;
  max-height: max-content;
}
#exploreTech .tCards .tContent {
  background-color: hsl(0, 0%, 90%);
  width: calc(200% + 0.25em);
  display:none;
  padding:1vw;
  margin-top: 0.25vw;
}
#exploreTech .tCards:nth-child(even) .tContent {
  margin-left: calc(-100% - 0.25em);
}
#exploreTech .tCards:hover .tContent {
  background-color: hsl(0, 0%, 87.5%);
}
#exploreTech .tCards:hover {
  background-color: hsl(0, 0%, 87.5%);
}
#exploreTech .tCards .tHead {
  flex-basis: 50%;
  padding:1vw;
  max-height:100%;
}
#exploreTech .tCards .tHead .tIcons {
  border:none;
}
#exploreTech .tCards .tHead .tIcons i {
  font-size:140%;
  margin-bottom: 3vw;
}
#exploreTech .tCards .tHead .tTexts {
  display:inline-flex;
  width:100%;
  margin-top: 1vw;
}
#exploreTech .tCards .tHead .tTexts i:nth-child(2),i:nth-child(3) {
  margin-left: auto;
  font-size:140%;
}
#exploreTech .tCards .tHead .tTexts i:nth-child(3) {
  display:none;
}
.tCards:not(:focus-within) .tContent {
  display: none !important;
}
.tCards:focus-within .tContent {
  display: flex;
  flex-wrap: wrap;
  gap:0.25vw;
}
.tCards:focus-within .tHead .tIcons i {
  transform: scale(1.5) !important;
}
#exploreTech .tCards:focus-within .tHead .tTexts i:nth-child(3) {
  display:inline-block;
}
#exploreTech .tCards:focus-within .tHead .tTexts i:nth-child(2) {
  display:none;
}
.tCards:focus-within .tHead .tTexts span {
  display: none;
}

#exploreTech .tCards .tContent .tcHead {
  padding-bottom:2vw;
  font-size: 120%;
  font-weight: 100 !important;
  width:100% !important;
}
#exploreTech .tCards .tContent .tcLinks {
  margin-bottom: 1vw;
  font-size: 90%;
  width: calc(50% - 0.25vw);
  display:flex;
  flex-direction:column;
  gap:0.5vw;
}
#exploreTech .tCards .tContent .tcLinks a {
  color:#0077B5;
  text-decoration: none;
}
/* End More ways */

@media (min-width: 1200px) {
  #exploreTech #techCards .tCards {
    width: calc(33.33% - 1vw);
  }
  #exploreTech .tCards .tContent {
    width: calc(300% + 0.25vw);
  }
  #exploreTech .tCards .tContent::before {
    width: calc(66.66% + 0.15vw);
  }
  #exploreTech .tCards:nth-child(3n) .tContent {
    margin-left: calc(-200% - 0.25vw) !important;
  }
  #exploreTech .tCards:nth-child(3n+1):not(:first-child) .tContent {
    margin-left: calc(0% - 0em) !important;
  }
  #exploreTech .tCards:nth-child(3n+2) .tContent {
    margin-left: calc(-100% - 0.25vw) !important;
  }
}

.bookmark {
}
/* Boxes of Acheivements */
#boxes {
	scroll-snap-align: center;
  border: 1px solid red;
  padding:5vw 2vw 1vw 3vw;
  font-size: 3vw;
}
#boxes h2 {
  margin-bottom: 1vw;
  font-weight: 100;
  font-size: 3vw;
}
#boxes #allBoxes {
  display: flex;
  flex-wrap: wrap;
  padding: 2vw 2vw;
}
#boxes .box {
  display: flex;
  flex-basis: calc(33.33% - 2vw);
  transition: transform 0.5s ease;
  margin: 0vw 0.5vw 2vw 0;
}
#boxes .box:hover p{
  color:#000;
}
#boxes .box h3 {
  font-size: 60%;
  font-weight: 400;
  margin-bottom: 1vw;
}
#boxes .box i {
  margin: 0.1vw 1vw 0 0;
  color: #4682B4;
  font-size: 60%;
}
#boxes .box p {
  color: gray;
  font-size: 40%;
}
#boxes .box:hover i {
  animation: bounce 1.1s infinite;
}
@keyframes bounce {
  0% {transform: translateY(0);}
  15% {transform: translateY(-15px);}
  25% {transform: translateY(0px);}
  35% {transform: translateY(-5px);}
  50% {transform: translateY(0);}
  100% {transform: translateY(0);}
}
#boxes .box div h3 {
  white-space: nowrap;
}
/* End of boxes */

.bookmark {
}
/* Map and contact Us  */
  #contact {
    scroll-snap-align: center;
    padding:0vw 2vw 1vw 0vw;
  }
  #contact h2 {
    margin-bottom: 1vw;
    font-weight: 100;
    font-size: 3vw;
  }
  #contact #cMapForm {
    display: flex;
    justify-content: space-between;
    padding:2vw 0vw;
  }
  #contact #cMapForm iframe {
    flex-basis: 60%;
  }
  #contact #cMapForm #cDetails {
    display: flex;
    flex-direction: column;
    padding: 2vw;
  }
  #contact #cMapForm #cDetails h1 {
    margin-bottom: 3vw;
    font-size: 2vw;
  }
  #contact #cMapForm #cDetails .spanA {
    margin-bottom: 0.5vw;
    color: #4682B4;
    font-size: 2vw;
  }
  #contact #cMapForm #cDetails .spanB {
    margin-bottom: 3vw;
    font-size: 2vw;
  }
/* Map and contact Us  */
  
.bookmark {
}
/* Consulting */
  section#consult {
    border:2px solid red;
    font-size: 2vw;
    padding:0 2vw;
  }
  #consult h2 {
    margin-bottom: 4vw;
    font-weight: 100;
  }
  #consult ul {
    display:flex;
    
  }
  #consult ul li {
    font-size: 1.6vw;
    list-style-type: none;
    padding:0 4vw 2vw 4vw;
    box-shadow: inset 0px -1px 0px 0px gray;
    cursor: pointer;
  }
  #consult ul li:focus {
    outline:1px solid blue;
  }
  #consult ul li:hover {
    box-shadow: inset 0px -2px 0px 0px gray;
  }

  .inConsult {
    display: flex;
    padding:4vw 0vw;
  }
  .inConsult img {
    width:65%;
    padding:0vw 0vw 0 0;
  }
  .inConsultText {
    display: flex;
    flex-direction: column;
    gap:2vw;
    padding:4vw 2vw;
  }
  .inConsultText span:nth-child(1) {
    font-size:120%;
  }
  .inConsultText span:nth-child(2) {
    font-size:80%;
    font-weight: 100;
  }
  .inConsultText a {
    font-size:80%;
    text-decoration: none;
    white-space: nowrap;
    color: var(--s-blue);
  }
  .inConsultText a:hover {
    text-decoration: underline;
  }
/* Consulting */

.bookmark {
}
/* All Rights Reserverd */
  footer {
    padding: 0.5vw 4vw 0.5vw 4vw;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 96%);
    font-size: 1.6vw;
  }
  footer:hover span {
    background-color: hsl(0, 0%, 100%);
  }
  footer #icons {
    display: flex;
  }
  footer #icons .circle {
    width: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 1vw;
    margin:auto 0.2vw;
    border-radius: 100%;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  footer #icons .circle:hover {
    outline:0.2vw solid var(--s-blue);
  }
  footer #icons .circle:hover i {
    
  }
  footer #icons .fac {
    background-color: #3B5998;
  }
  footer #icons .fac:hover i {
    color: #3B5998;
  }
  footer #icons .twi {
    background-color: #1DA1F2;
  }
  footer #icons .twi:hover i {
    color: #1DA1F2;
  }
  footer #icons .lin {
    background-color: #0077B5;
  }
  footer #icons .lin:hover i {
    color: #0077B5;
  }
  footer #icons .circle:hover {
    background-color: white;
  }
  footer #icons .circle:hover {
    text-decoration: none;
  }
/* End of all the default styles */


.bookmark {
}
/* large devices */
@media (min-width: 1200px) {
  section#about {
    flex-direction: row;
  }
  section#four #allNewCards {
    padding:2vw;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:0.1vw 0.11vw;
  }
}

/* small devices */
@media (max-width: 700px) {
  section#four #allNewCards {
    padding:2vw;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:0.1vw 0.11vw;
  }
  .nav-panel {
    display:none;
  }
}

