:root {
  --p-blue: #044182;
  --s-blue: #0874e8;
  --s-black: hsl(0, 0%, 14%);
  --p-white: hsl(0, 0%, 94%);
  --s-white: hsl(0, 0%, 46%);
  --d-white: hsl(0, 0%, 26%);
  --g-white: hsl(0, 0%, 36%);
}
* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body {
  scroll-snap-type: y mandatory;
  background-color: var(--d-white);
}
/* Section id index */
section#index {display:none !important;border:2px solid red;}


















/* header */
  section#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 2vw;
    transition: 0.5s ease-in-out;
    color: var(--p-white);
    font-size: 2vw;
  }
  #header img {
    max-width: 15vw;
    aspect-ratio: 1/0.5;
  }
  #header ul {
    margin-left: auto;
    margin-right: 2vw;
    display:flex;
    flex-direction: row;
    gap:1.5vw;
  }
  #header ul li {
    list-style:none;
  }
  #header ul li a {
    text-decoration:none;
    color: var(--p-white);
  }
  #header .search_user {
    display: flex;
    align-items: center;
    gap:2vw;
  }
  .search_user input[type="checkbox"] {
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
  }
  .search_user input[type="checkbox"]:checked {
    border-color: #008000;
  }
  
  
/* End Header and getIn Home page elements */
























/* Intern section Start */
  section#intern {
    background-color: var(--p-blue);
    padding: 1.5vw 1.5vw;
    font-size: 1.2vw;
  }
  #intern span a {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
  }
  #intern span a:hover {
    color:#fff;
    text-decoration: underline;
  }
  #intern strong {
    float:right;
    cursor:pointer;
  }
/* End of Intern */



















/* MAIN */
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
  }
/* main */ 


















/* About section Start */
  section#about {
    height: max-content;
    min-height:80vh;
    display: flex;
    flex-direction: column;
    gap:1vw;
    position:relative;
  }
  #about .aboutTexts {
    margin-top: auto;
    min-height: 30vh !important;
    width:60%;
    padding:4vw;
    color:#fff;
  }
  #about .aboutTexts p {
    font-size:3vw;
    margin-bottom: 1vw;
  }
  #about .aboutTexts span:nth-child(2) {
    display: block;
    line-height: 1.6;
    letter-spacing: 0.1vw;
    font-size: 1.6vw;
  }
  #about button {
    max-width:max-content;
    padding:1vw;
    background-color: var(--s-blue);
    color:#fff;
    border:none;
    margin-top: 1vw;
    line-height: 1;
    font-size: 1.6vw;
  }
  #about button i:nth-child(2) {
    margin:auto 0 0 4vw;
  }
  #about button i:nth-child(3) {
    display:none;
  }
  #about img {
    filter:brightness(70%);
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height: 100%;
  }
  #about #aRight,#aLeft {display:none;}
/* End of About */



















/* Start of four */
  section#four {
    padding:2vw;
    display:flex;
    flex-wrap: wrap;
    gap:0.25vw;
    font-size: 1.4vw;
  }
  #four .fourCards {
    flex-basis: calc(50% - 0.25vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1vw;
    background-color: var(--g-white);
  }
  #four .fourCards:hover {
    background-color: var(--s-white);
  }
  #four .fourCards:active {
    outline:3px solid var(--s-blue);
  }
  #four .fourCards bdo {
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-size: 120%;
    font-weight: 600;
  }
  #four .fourCards p {
    margin-bottom: 2vw;
    font-size: 120%;
  }
  #four .fourCards i {
    color: var(--s-blue);
  }
/* End of fourCards */










/* Flip recent laptops */
#recentWorks {
  padding: 5vw 6vw;
}
#recentWorks #span {
	font-size: 3vw;
}
#recentWorks #honey {
	display: flex;
  flex-wrap: wrap;
  gap:6vw;
	justify-content: space-between;
	padding: 4vw 2vw;
  border: 0px solid blue;
}
#recentWorks #honey .rw {
  position: relative;
  box-shadow: 0 0 0.5vw #000;
  border-radius: 1vw;
  overflow:hidden;
}
#recentWorks #honey .rw .imgL {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2vw 2vw;
	border-radius: 10px;
	position: relative;
  z-index: 1;
}
#recentWorks #honey .rw .tect {
	font-size:1.5vw;
	background: var(--s-white);
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
	opacity:0;
	transform: translateY(100%);
}
#recentWorks #honey .rw:hover .tect {
	opacity:1;
	display:flex;
	align-items: center;
	justify-content:center;
	text-align: center;
	padding: 1vw 1vw;
	transition: transform 0.5s ease;
	transform: translateY(0%);
	border-radius: 10px;
	border: 1px solid #fff;
	box-shadow: 0 0 15px #000;
}
#recentWorks #honey .rw img {
	width: 16vw;
	aspect-ratio: 1/1;
	flex-basis: 33.33%;
}
#recentWorks #honey .rw span:nth-child(2) {
	font-size: 2vw;
	margin: 0.1vw 0vw;
}
#recentWorks #honey .rw span:nth-child(3) {
	font-size: 1.2vw;
}
/* End of Flip recent laptops */











/* exporeTech techCards */
section#exploreTech {
  padding:3vw 2vw 1vw 2vw;
  display: flex;
  flex-direction: column;
  gap:2vw;
}
section#exploreTech #techCards {
  display:flex;
  flex-wrap: wrap;
  gap:0.50vw;
}
#exploreTech h2 {
  margin-bottom: 1vw;
  font-weight: 100;
  font-size: 3vw;
}
#exploreTech .tCards {
  width: calc(50% - 0.55vw);
  background-color: var(--g-white);
  font-size: 1.3vw;
  height: 100%;
}
#exploreTech .tCards .tContent {
  background-color: var(--g-white);
  width: calc(200% + 0.25em);
  display:none;
  padding:1vw;
  margin-top: 0.25vw;
}
#exploreTech .tCards:nth-child(even) .tContent {
  margin-left: calc(-100% - 0.25em);
}
#exploreTech .tCards:hover .tContent {
  background-color: var(--s-white);
}
#exploreTech .tCards:hover {
  background-color: var(--s-white);
}
#exploreTech .tCards .tHead {
  flex-basis: 50%;
  padding:1vw;
}
#exploreTech .tCards .tHead .tIcons {
  border:none;
}
#exploreTech .tCards .tHead .tIcons i {
  font-size:140%;
  margin-bottom: 3vw;
}
#exploreTech .tCards .tHead .tTexts {
  display:inline-flex;
  width:100%;
  margin-top: 1vw;
}
#exploreTech .tCards .tHead .tTexts i:nth-child(2),i:nth-child(3) {
  margin-left: auto;
  font-size:140%;
}
#exploreTech .tCards .tHead .tTexts i:nth-child(3) {
  display:none;
}

/* focus within */
.tCards:focus-within {
  height: auto;
}
.tCards:not(:focus-within) .tContent {
  display: none !important;
}
.tCards:focus-within .tContent {
  display: flex;
  flex-wrap: wrap;
  gap:0.25vw;
}
.tCards:focus-within .tHead .tIcons i {
  transform: scale(1.5) !important;
}
#exploreTech .tCards:focus-within .tHead .tTexts i:nth-child(3) {
  display:inline-block !important;
}
#exploreTech .tCards:focus-within .tHead .tTexts i:nth-child(2) {
  display:none;
}
.tCards:focus-within .tHead .tTexts span {
  display: none;
}

#exploreTech .tCards .tContent .tcHead {
  padding-bottom:2vw;
  font-size: 120%;
  font-weight: 100 !important;
  width:100% !important;
}
#exploreTech .tCards .tContent .tcLinks {
  margin-bottom: 1vw;
  font-size: 90%;
  width: calc(50% - 0.25em);
  display:flex;
  flex-direction:column;
  gap:0.5vw;
}
#exploreTech .tCards .tContent .tcLinks a {
  color:#0077B5;
  text-decoration: none;
}
/* End More ways */


@media (min-width: 1200px) {
  #exploreTech #techCards .tCards {
    width: calc(33.33% - 0.25em);
  }
  #exploreTech .tCards .tContent {
    width: calc(300% + 0.25em);
  }
  #exploreTech .tCards .tContent::before {
    width: calc(66.66% + 0.15em);
  }
  #exploreTech .tCards:nth-child(3n) .tContent {
    margin-left: calc(-200% - 0.25em) !important;
  }
  #exploreTech .tCards:nth-child(3n+1):not(:first-child) .tContent {
    margin-left: calc(0% - 0em) !important;
  }
  #exploreTech .tCards:nth-child(3n+2) .tContent {
    margin-left: calc(-100% - 0.25em) !important;
  }
}





















/* All Rights Reserverd */
  footer {
    padding: 0.5vw 4vw 0.5vw 4vw;
    display: flex;
    justify-content: space-between;
    margin-top: 10vw;
    background-color: var(--g-white);
    font-size: 2vw;
  }
  footer:hover span {
    background-color: hsl(0, 0%, 100%);
  }
  footer #icons {
    display: flex;
  }
  footer #icons .circle {
    width: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 1vw;
    margin:auto 0.2vw;
    border-radius: 100%;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  footer #icons .circle:hover {
    outline:0.2vw solid var(--s-blue);
  }
  footer #icons .circle:hover i {
    
  }
  footer #icons .fac {
    background-color: #3B5998;
  }
  footer #icons .fac:hover i {
    color: #3B5998;
  }
  footer #icons .twi {
    background-color: #1DA1F2;
  }
  footer #icons .twi:hover i {
    color: #1DA1F2;
  }
  footer #icons .lin {
    background-color: #0077B5;
  }
  footer #icons .lin:hover i {
    color: #0077B5;
  }
  footer #icons .circle:hover {
    background-color: white;
  }
  footer #icons .circle:hover {
    text-decoration: none;
  }
/* End of all the default styles */































@media (max-width: 900px) {
  section#about {
    flex-direction: row;
  }
  section#four {
    padding:2vw;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:0.1vw 0.11vw;
  }
}